
iframe {
    height: 45vh;
    padding-top: 20px;
    min-height: 300px;
    max-height: 400px;
    min-width: 600px;
    max-width: 840px;
    width: 100%;
}

.contact-main{
    max-width: 800px;
    margin: 1.7rem 1rem;
    padding: 1.8rem 1.5rem;
}
.location i {
    color: var(--primary-color);
    margin-right: 1rem;
}
.location h3, .connect-with-us h3 {
    font-size: 0.9rem;
    font-weight: 800;
    margin: 1.5rem 0;
}
.nesrea-offices h2 {
    font-size: 1rem;
    font-weight: 800;
}
.location p, .nesrea-offices p, .connect-with-us p{
    font-size: 0.8rem;
    line-height: 1.5rem;
    max-width: 85%;
}
.nesrea-offices .btn {
    margin: 1rem 0;
}
form {
    max-width: 800px;
    background-color: var(--light-green);
    padding: 1.8rem;
    margin: 1.5rem;
    border-radius: 5px;
}
input, textarea {
    width: 100%;
    padding:0.5rem 0.5rem 0.5rem 2.7rem;
    border: 1px solid #aaa;
    margin: 1rem 0;
    border-radius: 5px;
}

input:focus, textarea:focus{
    outline: 1px solid var(--primary-color);
}
.form-control {
   display:flex;
   align-items: center;
}

.form-control i {
    transform: translateX(33px);
    color: var(--primary-color);
}

.contact-socials i {
 color: var(--primary-color);
    font-size:2.2rem;
    padding: 5px;
    border-radius: 50%;
}

#sumbit {
    background-color: var(--primary-color);
    color: #fff;
    font-weight: bolder;
    font-family: 'Open Sans', sans-serif;
    width: 98% !important;
    margin-left: 1rem;
    cursor: pointer;
}

@media(max-width:768px){
    form{
        max-width: 100%;
        margin:1.5rem auto;
        padding: 1rem;
    }

    .space-on-md{
        margin-top: 1.8rem;
    }
    .location p, .nesrea-offices p, .connect-with-us p{
        max-width: 100%;
        text-align: justify;
    }
    iframe {
        max-width: 95vw;
        margin: 0 auto;
    }
}