.faq-wrap {
    max-width: 840px;
    padding: 1rem 2rem;
    font-size:0.8rem
}
.faq-wrap p{
    margin: 1.2rem 0;
    font-weight:400;
    color: var(--primary-color);
}
.faq-wrap>h2 {
    border-bottom: 4px solid var(--primary-color);
    margin-bottom: 2rem;
    font-weight: 600;
    padding-bottom: 10px;
}

@media(max-width:768px) {
    .faq-wrap>h2 {
        font-size: 0.8rem;
    }
}